<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>Either your email has aleady been used or your password is less than 6 characters.</p>
  </body>
</html>
